<img SRC="carro.jpg"/>
<center><h1 Style="color:#8B008B">Analisis de Datos</h1></center>
<center><h3>Universidad Castro Carazo</h3></center>
<center><h6>2022</h6></center>
</br>
</br>
<p Style="text-aling:justify"> Este notebook contiene analisis de datos, practica HTML imagen carro, titulos, colores y parrafo como parte de la practica/actividad semana 3 del curso 2022 </p>
</br>
<a href="https://archive.ics.uci.edu/ml/datasets.php?format=&task=&att=num&area=&numAtt=&numIns=&type=&sort=nameUp&view=table"> Fuente para codigos HTML </a>

<h2 Style="color:#FF8C00">1. Carga y estandarizacion de los datos</h2>

<p> Que se hace en esta etapa?</p>

<ol>
    <li>Importar las librerias necesarias</li>
    <li>Importar el o los set de datos</li>
    <li>Revisar los encabezados de los DataFrames</li>
    <li>Si solo Si tenemos mas de 1 set de datos - Unir los set de datos en un unico Dataframe</li>
</ol>

<h3 Style="color:#008000">1.1 Importar librerias</h3>

In [1]:
import pandas as pd               #se va a usar para el manejo de DataFrame. 
import numpy as np                #se va a usar para el manejo de estructuras de datos.
import matplotlib.pyplot as ptl   # se va a usar para graficos

<h3 Style="color:#008000">1.2 Importar set de datos</h3>

In [2]:
cols= ["symboling", "normalized", "make", "fuel", "aspiration", "doors",
"style", "wheels", "engine", "base", "length", "width", "heingt",
"curb", "engineType", "Cylinders", "engine-size", "system", "bore", "stroke",
"compression", "horsepower", "peak", "City", "Higway", "price"]

df_1er_autos = pd.read_csv("autos.csv", names=cols)
df_2do_autos = pd.read_csv("Autos 1.csv", names=cols)

In [3]:
df_1er_autos.shape #Esto me permite conocer el tamano del DataFrame

(197, 26)

In [4]:
df_2do_autos.shape

(29, 26)

In [5]:
df_1er_autos.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

<h3 Style="color:#008000">1.3 Encabezdos de los DataFrame </h3>

In [6]:
df_1er_autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    197 non-null    int64
 1   normalized   197 non-null    object
 2   make         197 non-null    object
 3   fuel         197 non-null    object
 4   aspiration   197 non-null    object
 5   doors        197 non-null    object
 6   style        197 non-null    object
 7   wheels       197 non-null    object
 8   engine       197 non-null    object
 9   base         197 non-null    float64
 10  length       197 non-null    float64
 11  width        197 non-null    float64
 12  heingt       197 non-null    float64
 13  curb         197 non-null    int64
 14  engineType   197 non-null    object
 15  Cylinders    197 non-null    object
 16  engine-size  197 non-null    int64
 17  system       197 non-null    object
 18  bore         197 non-null    object
 19  stroke       197 non-null    object
 20  compression  197 non-null    float64
 21  horsepower   197 non-null    object
 22  peak         197 non-null    object
 23  City         197 non-null    int64
 24  Higway       197 non-null    int64
 25  price        197 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 40.1+ KB

In [7]:
df_1er_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [8]:
df_2do_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

<h3 Style="color:#008000">1.4 Unir Archivos en un solo DataFrame </h3>

In [9]:
unionArchivos = [df_1er_autos, df_2do_autos] #Lista de Dataframes
dfAutos = pd.concat(unionArchivos)
dfAutos.shape

(226, 26)

In [10]:
dfAutos.head (4)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950

In [11]:
dftem = dfAutos.iloc[:,0:2] # first two columns of dataFrame with all rows

In [12]:
dftem.head (6)

   symboling normalized
0          3          ?
1          3          ?
2          1          ?
3          2        164
4          2        164
5          2          ?

In [13]:
deftem = dfAutos.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

In [14]:
deftem

    symboling doors        style
0           3   two  convertible
3           2  four        sedan
6           1  four        sedan
24          1  four    hatchback

<h2 Style="color:#8B008B">2. Manejo de Valores faltantes</h2>

<p> Que se hace en esta etapa?</p>

<ol>
    <li>Identificar como se muestran los valores faltantes (null,espacio blanco, ?) y estandizarlos (NaN)</li>
    <li>Contar la cantidad de valores NaN , faltantes por variable (columna)</li>
    <li>Analisis de imputacion (el promedio) para el caso de los numericos</li>
    <li>Analisis de imputacion (con el valor mas frecuente / ML) para el caso de los caracteres </li>
    <li>Eliminan filas o columnas con valores faltantes </li>
</ol>

<h3 Style="color:#FF1493">2.1 Identificar como se muestran los valores faltantes y estandarizarlos</h3>

In [15]:
dfAutos.head(15)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565

In [16]:
dfAutos.replace("?", np.nan, inplace = True)
dfAutos.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN

<h3 Style="color:#00BFFF">2.2 Contar valores faltantes por columna</h3>

In [17]:
valoresPerdidos = dfAutos.isnull()

In [18]:
valoresPerdidos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
for column in valoresPerdidos.columns.values.tolist():
    print (column)
    print (valoresPerdidos[column].value_counts())
    print ("")

symboling
False    226
Name: symboling, dtype: int64

normalized
False    180
True      46
Name: normalized, dtype: int64

make
False    226
Name: make, dtype: int64

fuel
False    226
Name: fuel, dtype: int64

aspiration
False    226
Name: aspiration, dtype: int64

doors
False    224
True       2
Name: doors, dtype: int64

style
False    226
Name: style, dtype: int64

wheels
False    226
Name: wheels, dtype: int64

engine
False    226
Name: engine, dtype: int64

base
False    226
Name: base, dtype: int64

length
False    226
Name: length, dtype: int64

width
False    226
Name: width, dtype: int64

heingt
False    226
Name: heingt, dtype: int64

curb
False    226
Name: curb, dtype: int64

engineType
False    226
Name: engineType, dtype: int64

Cylinders
False    226
Name: Cylinders, dtype: int64

engine-size
False    226
Name: engine-size, dtype: int64

system
False    226
Name: system, dtype: int64

bore
False    222
True       4
Name: bore, dtype: int64

stroke
False    222
True       4
Name: stroke, dtype: int64

compression
False    226
Name: compression, dtype: int64

horsepower
False    224
True       2
Name: horsepower, dtype: int64

peak
False    224
True       2
Name: peak, dtype: int64

City
False    226
Name: City, dtype: int64

Higway
False    226
Name: Higway, dtype: int64

price
False    222
True       4
Name: price, dtype: int64

<h3 Style="color:#F08080">2.3 Imputar Datos Numericos</h3>
<img SRC="Capture.png"/>

In [20]:
avg_normalized = dfAutos["normalized"].astype("float").mean(axis=0)
print ("La media del normalized:", avg_normalized)

La media del normalized: 122.28333333333333

In [21]:
dfAutos["normalized"].replace(np.nan,122, inplace=True)
dfAutos.head(3)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

<img SRC="symboling.png"/>

In [22]:
avg_symboling = dfAutos["symboling"].astype("float").mean(axis=0)
print ("La media del symboling:", avg_symboling)

La media del symboling: 0.9026548672566371

In [23]:
dfAutos["symboling"].replace(np.nan,0.902, inplace=True)
dfAutos.head(3)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

<h3 Style="color:#8FBC8F">2.4 Imputar Datos tipo Caracter</h3>
<img SRC="doors.png"/>

In [24]:
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [25]:
dfAutos["doors"].value_counts()

four    124
two     100
Name: doors, dtype: int64

In [26]:
dfAutos["doors"].value_counts().idxmax()

'four'

In [27]:
dfAutos["doors"].replace(np.nan, 'four', inplace=True)

In [28]:
valoresPerdidos = dfAutos.isnull()
for column in valoresPerdidos.columns.values.tolist():
    print (column)
    print (valoresPerdidos[column].value_counts())
    print ("")

symboling
False    226
Name: symboling, dtype: int64

normalized
False    226
Name: normalized, dtype: int64

make
False    226
Name: make, dtype: int64

fuel
False    226
Name: fuel, dtype: int64

aspiration
False    226
Name: aspiration, dtype: int64

doors
False    226
Name: doors, dtype: int64

style
False    226
Name: style, dtype: int64

wheels
False    226
Name: wheels, dtype: int64

engine
False    226
Name: engine, dtype: int64

base
False    226
Name: base, dtype: int64

length
False    226
Name: length, dtype: int64

width
False    226
Name: width, dtype: int64

heingt
False    226
Name: heingt, dtype: int64

curb
False    226
Name: curb, dtype: int64

engineType
False    226
Name: engineType, dtype: int64

Cylinders
False    226
Name: Cylinders, dtype: int64

engine-size
False    226
Name: engine-size, dtype: int64

system
False    226
Name: system, dtype: int64

bore
False    222
True       4
Name: bore, dtype: int64

stroke
False    222
True       4
Name: stroke, dtype: int64

compression
False    226
Name: compression, dtype: int64

horsepower
False    224
True       2
Name: horsepower, dtype: int64

peak
False    224
True       2
Name: peak, dtype: int64

City
False    226
Name: City, dtype: int64

Higway
False    226
Name: Higway, dtype: int64

price
False    222
True       4
Name: price, dtype: int64

<h3 Style="color:#B22222">2.5 Eliminar Filas con Valores faltantes</h3>

In [29]:
dfAutos.dropna(subset = ['price'], axis = 0, inplace = True)
dfAutos.reset_index(drop=True, inplace=True)

In [30]:
dfAutos.dropna(subset = ['bore'], axis = 0, inplace = True)
dfAutos.reset_index(drop=True, inplace=True)

In [31]:
dfAutos.dropna(subset = ['stroke'], axis = 0, inplace = True)
dfAutos.reset_index(drop=True, inplace=True)

In [32]:
dfAutos.dropna(subset = ['horsepower'], axis = 0, inplace = True)
dfAutos.reset_index(drop=True, inplace=True)

In [33]:
valoresPerdidos = dfAutos.isnull()
for column in valoresPerdidos.columns.values.tolist():
    print (column)
    print (valoresPerdidos[column].value_counts())
    print ("")

symboling
False    216
Name: symboling, dtype: int64

normalized
False    216
Name: normalized, dtype: int64

make
False    216
Name: make, dtype: int64

fuel
False    216
Name: fuel, dtype: int64

aspiration
False    216
Name: aspiration, dtype: int64

doors
False    216
Name: doors, dtype: int64

style
False    216
Name: style, dtype: int64

wheels
False    216
Name: wheels, dtype: int64

engine
False    216
Name: engine, dtype: int64

base
False    216
Name: base, dtype: int64

length
False    216
Name: length, dtype: int64

width
False    216
Name: width, dtype: int64

heingt
False    216
Name: heingt, dtype: int64

curb
False    216
Name: curb, dtype: int64

engineType
False    216
Name: engineType, dtype: int64

Cylinders
False    216
Name: Cylinders, dtype: int64

engine-size
False    216
Name: engine-size, dtype: int64

system
False    216
Name: system, dtype: int64

bore
False    216
Name: bore, dtype: int64

stroke
False    216
Name: stroke, dtype: int64

compression
False    216
Name: compression, dtype: int64

horsepower
False    216
Name: horsepower, dtype: int64

peak
False    216
Name: peak, dtype: int64

City
False    216
Name: City, dtype: int64

Higway
False    216
Name: Higway, dtype: int64

price
False    216
Name: price, dtype: int64

<h2 Style="color:#FFD700">3. Estandarizacion de Datos</h2>

<p> Que se hace en esta etapa?</p>

<ol>
    <li>Verificar dominio de variables y se ajusta si es necesario</li>
    <li>Comvertir valores en funcion de la interpretacion</li>
    <li>Normalizar los datos para que los valores queden entre 0 y 1</li>
    <li>Agrupar datos (Bining) </li>
  
</ol>

<h3 Style="color:#FF69B4">3.1 Verificar el dominio de las variables</h3>

In [34]:
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [35]:
dfAutos.dtypes

symboling        int64
normalized      object
make            object
fuel            object
aspiration      object
doors           object
style           object
wheels          object
engine          object
base           float64
length         float64
width          float64
heingt         float64
curb             int64
engineType      object
Cylinders       object
engine-size      int64
system          object
bore            object
stroke          object
compression    float64
horsepower      object
peak            object
City             int64
Higway           int64
price           object
dtype: object

In [40]:
dfAutos[["normalized", "peak"]] = dfAutos[["normalized", "peak"]].astype("int")
dfAutos[["bore", "stroke", "price"]] = dfAutos[["bore", "stroke", "price"]].astype("float")

In [37]:
dfAutos.dtypes

symboling        int64
normalized      object
make            object
fuel            object
aspiration      object
doors           object
style           object
wheels          object
engine          object
base           float64
length         float64
width          float64
heingt         float64
curb             int64
engineType      object
Cylinders       object
engine-size      int64
system          object
bore            object
stroke          object
compression    float64
horsepower      object
peak            object
City             int64
Higway           int64
price           object
dtype: object